 .flex-container{
    display: flex;
    flex-direction:row;
}
.flex-item{
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
.click{
    background-color: blue;
    color: aliceblue;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#clock{
    color: aquamarine;
    background-color: black;
    display: inline-block;
    font-size: 30px;
} 


